{erl_opts, [
%%      bin_opt_info,
%%	    warn_missing_spec,
	    {i, "include"},
%%	    warnings_as_errors,
	    warn_export_all
	   ]}.

{lib_dirs,[]}.
{deps_dir,["deps"]}.
{deps,[
       {jsx, ".*"	, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}	},	
       {lager, ".*", {git , "https://github.com/basho/lager.git", {branch, "master"}}},		
       {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}	
      ]}.
		
